.todo-container{
  width: 40%;
  
}
.Todo_inputs{
width: 100%;
}

.app_items{
  text-align: left;

}
.APP-buttons{
min-width: 80px;
}

input{
  border-radius: 15px;
  border: none;
  /* border: 1px solid black; */
  background-color: rgb(228, 208, 228);
}
